/* Estilos para la lista de notas */
h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

legend {
    font-weight: bold;
    color: rgb(146, 192, 120);
}

fieldset {
    border-color: green;
}

li.liListNote {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

li.liListNote:hover {
    background-color: #eef3f7;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

h3:hover {
    color: #007bff;
}

p {
    font-size: 20px;
    color: black;
}


hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}








/* Estilos para la barra de búsqueda */
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
    border-color: #0056b3;
}



/* Estilos para la expansión de notas */
li.liListNote .expanded {
    display: block;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
}

li.liListNote .expanded p {
    font-size: 18px;
}

li.liListNote .expanded .dates-container {
    margin-top: 10px;
}

li.liListNote .expanded .state-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

li.liListNote h3 {
    cursor: pointer;
}

li.liListNote h3.active {
    color: #0056b3;
    font-weight: bold;
}

.btn-view{
    background-color:  #ff4081;
    color: white;
    padding: 8px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    
}

.btn-view :hover{
    opacity: 0.8;
}