/* Estilos para la sección de editar nota */

button.btn-edit {
    padding: 10px 20px;
    background-color: #ff4081;
    /* Verde para actualizar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button:hover.btn-edit {
    opacity: 0.8;
}
