
/* Estilos para la barra de búsqueda */
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
    border-color: #0056b3;
}



/* Estilos para la expansión de notas */
li.liListNote .expanded {
    display: block;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
}

li.liListNote .expanded p {
    font-size: 18px;
}

li.liListNote .expanded .dates-container {
    margin-top: 10px;
}

li.liListNote .expanded .state-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

li.liListNote h3 {
    cursor: pointer;
}

li.liListNote h3.active {
    color: #0056b3;
    font-weight: bold;
}

.btn-view{
    background-color:  #ff4081;
    color: white;
    padding: 8px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    
}

.btn-view :hover{
    opacity: 0.8;
}