/* Modificar el botón de la X (cerrar) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4081;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1.9rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #e91e63;
}

/* Estilos para botones laterales de navegación */
.nav-btn {
  background: transparent;
  border: none;
  font-size: 3rem;
  color: #3498db;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-btn:hover {
  color: #2980b9;
}

.left {
  position: fixed;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200px; /* Aumenta según lo que necesites */

}

.right {
  position: fixed;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200px; /* Aumenta según lo que necesites */
}

/* Botones de eliminar y editar */
.edit {
  background-color: #ff4081; /* Azul */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;


}

.delete {
  background-color: #f44336; /* Rojo */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;

  
}

.dates-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Modal de confirmación */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  text-align: center;
}

.confirm-delete, .cancel-delete {
  padding: 20px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete {
  background-color: #4caf50;
  color: white;
  font-size: x-large;
}

.cancel-delete {
  background-color: #f44336;
  color: white;
  font-size: x-large;
}
